<div style="margin-left: 10px; margin-top: 10px">
  <button (click)="eventListener()">Hello From Event</button>

  <button style="margin-left: 5px" (click)="buttonClick()">Scan Cick</button>

  <button style="margin-left: 5px" (click)="filter()">Filter</button>

  <button style="margin-left: 5px" (click)="first()">First</button>

  <button style="margin-left: 5px" (click)="concatAll()">Concat All</button>

  <button style="margin-left: 5px" (click)="mapFunction()">Map</button>

  <button style="margin-left: 5px" (click)="mergeMapFunction()">
    MergeMap
  </button>

  <button style="margin-left: 5px" (click)="switchMapFunction()">
    Switch Map
  </button>

  <button style="margin-left: 5px" (click)="concatMapFunction()">
    Concat Map
  </button>

  <button style="margin-left: 5px" (click)="exhaustMapFunction()">
    Exhaust Map
  </button>

  <button style="margin-left: 5px" (click)="mapToFunction()">MapTo</button>

  <button style="margin-left: 5px" (click)="switchToFunction()">
    SwitchTo
  </button>
  <button style="margin-left: 5px" (click)="concatToFunction()">
    ConcatTo
  </button>
  <button style="margin-left: 5px" (click)="exhaustToFunction()">
    ExhaustTo
  </button>

  <button style="margin-left: 5px" (click)="mergeAllFunction()">
    MergeAll
  </button>

  <button style="margin-left: 5px" (click)="concatAllFunction()">
    ConcatAll
  </button>
</div>

<div style="margin-left: 10px; margin-top: 10px">
  <input style="width: 50%; height: 150px" #inputText />
</div>
