<!-- <div>
  <ul>
    <li><a routerLink="/viewchild">View Child</a></li>
    <li><a routerLink="/orders">Content Child</a></li>
    <li><a routerLink="/directive">Custom Directives</a></li>
    <li><a routerLink="/directive">Route Guard</a></li>
  </ul>
</div>

<div #employeeData></div>
<router-outlet></router-outlet> -->
<!-- <app-viewchild #viewChildReference></app-viewchild> -->

<app-viewchild
  [employee]="'charan'"
  [employeePhoneNum]="1234"
  (employeeInformation)="employeeInformation($event)"
></app-viewchild>
