<div>
  <ul>
    <li><a routerLink="/viewchild">View Child and Life Cycle Hooks</a></li>
    <li><a routerLink="/orders">Content Child</a></li>
    <li><a routerLink="/directive">Custom Directives</a></li>
    <li><a routerLink="/pipes">Pipes</a></li>
    <li><a routerLink="/directive">Route Guard</a></li>
    <li><a routerLink="/angularmaterial">Angular Material</a></li>
    <li><a routerLink="/rxjs">RxJS</a></li>
    <li><a routerLink="/templateDrivenForms">Template Driven Forms</a></li>
    <li><a routerLink="/reactiveForms">Reactive Forms</a></li>
  </ul>
</div>
